<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul class="social">
	        		<li><a href="mailto:nishhit777@gmail.com"><img src="/resources/mail.png" alt="Mail" height="20px" width="20px"></a></li>
	        		<li><a href="https://github.com/nishitjain"><img src="/resources/github.png" alt="Github" height="20px" width="20px"></a></li>
				<li><a href="https://linkedin.com/in/nishhit-jain"><img src="/resources/linkedin.png" alt="LinkedIn" height="20px" width="20px"></a></li>
			</ul>
			<ul class="copyright">
				<li><p>&copy; Nishit Jain</p></li>
			</ul>
			</footer>
		</body>
	</html>
