<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://drive.google.com/file/d/15jjP8h5O5Z-gndAYiZOfRdW64dUjjeRR/view?usp=sharing">Get CV </a></li>
	        		<li><a href="/blog">Blog Updates</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="footer">
				<p class="alignleft>&copy; <em>Nishit Jain</em> 2020</p>
    				<ul class="alighright">
	        			<li class="social"><a href="mailto:nishhit777@gmail.com"><img src="/resources/mail.png" alt="Mail" height="20px" width="20px"></a></li>
	        			<li class="social"><a href="https://github.com/nishitjain"><img src="/resources/github.png" alt="Github" height="20px" width="20px"></a></li>
					<li class="social"><a href="https://linkedin.com/in/nishhit-jain"><img src="/resources/linkedin.png" alt="LinkedIn" height="20px" width="20px"></a></li>
					<li class="social"><a href="https://instagram.com/nishitchauhan/"><img src="/resources/instagram.png" alt="Instagram" height="20px" width="20px"></a></li>
				</ul>
				<div style="clear: both;"></div>
			</div>
		</body>
	</html>
